<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/summernote-lite.js" defer></script>
<script src="/js/summernote-ko-KR.js" defer></script>
<link rel="stylesheet" href="/css/board/summernote-lite.css">
<link rel="stylesheet" href="/css/board/boardInsert.css">

</head>
<body>
	<div th:insert="common/top.html"></div>
	
    <div class="editor-header">
        <h2>모임 만들기</h2>
        <div class="editor-actions">
        	<span class="attachment-add">
        		<label class="file-upload-label" id="imgLabel">
        			<img src="/image/addImage.png" width="50px" id="addImage">
        		</label>
        	</span>
	        <button id="submitButton" class="submit-button">등록</button>
        </div>
    </div>

	<form id="form" method="post" action="/board/boardInsert" enctype="multipart/form-data">
		<div id="inputDiv">
			<input type="file" name="file">
		</div>
		<div class="title-section">
			<div class="horizon">
				<select name="categoryNo" class="category-select">
				    <option selected>모임의 종류를 입력하세요.</option>
				    <option value="1">스포츠/운동</option>
				    <option value="2">공예/DIY</option>
				    <option value="3">미술/그림</option>
				    <option value="4">음악</option>
				    <option value="5">요리/베이킹</option>
				    <option value="6">게임</option>
				    <option value="7">영화/드라마</option>
				    <option value="8">여행</option>
				    <option value="9">자연/식물</option>
				    <option value="10">책/문학</option>
				    <option value="11">심리/자기계발</option>
				    <option value="12">IT</option>
				    <option value="13">개발/프로그래밍</option>
				    <option value="14">사진</option>
				</select>
	
		
	
				<select name="locationNo" class="location-select">
				    <option selected>지역을 입력하세요.</option>
				    <option value="1">강남구</option>
				    <option value="2">강동구</option>
				    <option value="3">강북구</option>
				    <option value="4">강서구</option>
				    <option value="5">관악구</option>
				    <option value="6">광진구</option>
				    <option value="7">구로구</option>
				    <option value="8">금천구</option>
				    <option value="9">노원구</option>
				    <option value="10">도봉구</option>
				    <option value="11">동대문구</option>
				    <option value="12">동작구</option>
				    <option value="13">마포구</option>
				    <option value="14">서대문구</option>
				    <option value="15">서초구</option>
				    <option value="16">성동구</option>
				    <option value="17">성북구</option>
				    <option value="18">송파구</option>
				    <option value="19">양천구</option>
				    <option value="20">영등포구</option>
				    <option value="21">용산구</option>
				    <option value="22">은평구</option>
				    <option value="23">종로구</option>
				    <option value="24">중구</option>
				    <option value="25">중랑구</option>
				</select>

			    <input type="number" class="participant-input" name="maxParticipants" placeholder="참가인원은 입력하세요">

	        </div>
	        <input type="text" class="title-input" name="title" placeholder="제목을 입력하세요">
	        <br><br>
	        <textarea id="summernote" name="content"></textarea>
        </div>
	</form>
	
	
    
    <script>
	    $(document).ready(function() {
	    	$('#summernote').summernote({
	    		height: 500, // 에디터 높이 설정
	  			toolbar: [
	  			    // [groupName, [list of button]]
	  			    ['fontname', ['fontname']], // 글꼴 선택
	  			    ['fontsize', ['fontsize']], // 글꼴 크기 선택
	  			    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']], // 글자 스타일
	  			    ['color', ['forecolor','color']], // 글자 색상 변경
	  			    ['table', ['table']], // 표 삽입
	  			    ['para', ['paragraph']], // 문단 스타일 설정
	  			    ['height', ['height']], // 줄 간격 조정
	  			    ['insert',['link','video']], // 링크 및 비디오 삽입
	  			    ['view', ['fullscreen', 'help']] // 전체 화면 및 도움말 버튼
	  			  ],
	  			fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
	  			fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
	  	    });
	    	
// 	    	const fileInput = document.getElementById('fileInput');
	    	const inputDiv = document.getElementById('inputDiv');
	    	const imgLabel = document.getElementById('imgLabel');
	    	let file = document.querySelectorAll('input[type="file"]')[0];
	    	document.getElementById('addImage').addEventListener('click', e=>{
	    		console.log(file);
	    		file.click();
	    		file.addEventListener('change', e2=>{
	    			const file2 = e2.target.files[0];
	    			console.log(file2);
	    			if(file2){
	    				const reader = new FileReader();
		    			console.log(reader);
		    			reader.onload = event =>{
		    				const fileInput = document.createElement('div');
		    				fileInput.id='fileInput';
		    				const newImg = document.createElement('img');
		    				console.log('event.target.result');
		    				console.log(event.target.result);
		    				console.log(event);
			    			newImg.src = event.target.result;
			    			newImg.style.width = '50px';
			    			newImg.style.height = '50px';
			    			fileInput.append(newImg);	
			    			
			    			const newButton = document.createElement('button');
			    			
			    			
			    			const deleteImg = document.createElement('img');
			    			deleteImg.src = '/image/image-delete.png';
			    			deleteImg.width = '20';
			    			deleteImg.height = '20';
			    			
			    			newButton.className = 'deleteImageButton';
			    			const fileInputRect = fileInput.getBoundingClientRect();
// 			    			const topPercent = ((fileInputRect.top - parentRect.top) / parentRect.height) * 100;
// 			    			const leftPercent = ((fileInputRect.left - parentRect.left) / parentRect.width) * 100;

// 			    			console.log(fileInputRect.width / 2);
// 			    			newButton.style.top = (fileInputRect.height+'rem' + -41.5) + 'rem';
// 			    			newButton.style.left = (fileInputRect.width+'rem' +70) + 'rem';
			    			
// 			    			deleteImg.style.top = newButton
			    			newButton.append(deleteImg);
			    			fileInput.append(newButton)
			    			imgLabel.append(fileInput);
			    			
			    			
			    			deleteImg.addEventListener('click', (e)=>{
			    				const base64Data = e.target.parentNode.previousSibling.src.split(',')[1];
// 			    				console.log(e.target.parentNode.previousSibling.src);
			    				const byteCharacters = atob(base64Data);
			    				const byteArrays = [];
			    				for (let offset = 0; offset < byteCharacters.length; offset++) {
			    				    const byte = byteCharacters.charCodeAt(offset);
			    				    byteArrays.push(byte);
			    				}
			    				
			    				// Blob으로 이미지 파일을 생성
			    				const blob = new Blob([new Uint8Array(byteArrays)], { type: 'image/png' });

			    				// Blob을 URL로 변환
			    				const imageURL = URL.createObjectURL(blob);
			    				
// 			    				console.log(blob);
// 			    				console.log(imageURL);
			    				fileInput.remove();
			    				const inputfiles = document.querySelectorAll('input[type="file"]');
			    				console.log(inputfiles);
			    				console.log(file2.name);
			    				for(const i in inputfiles){
			    					console.log(inputfiles[i].value);
									if(inputfiles[i].value.includes(file2.name)){
										inputfiles[i].remove();
									}			    					
			    				}
			    				
			    				
			    			})
			    			
			    			file = document.createElement('input');
			    			file.type = 'file';
			    			file.name = 'file';
			    			inputDiv.append(file);
		    			}
		    			
		    			reader.readAsDataURL(file2);
		    			
		    		}
	    		}, {once:true});
	    	})
	    	
	    });
	    
	    document.getElementById('submitButton').addEventListener('click', ()=>{
	    	const form = document.getElementById('form');
	    	form.submit();
	    })
	    
	    
    </script>
</body>
</html>