<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Board Details</title>
<!-- <link rel="stylesheet" href="/css/board/boardDetails.css"> -->
<link rel="stylesheet" href="/css/board/boardDetail.css">
</head>
<body>
	<div th:insert="common/top.html"></div>
	
    <main class="main-container">
    	<form id="detailForm" action="/board/boardUpdate" method="GET">
	    	<input type="hidden" name="boardNo" th:value="${board.boardNo}" id="boardNo">
	    	<input type="hidden" name="categoryNo" th:value="${board.categoryNo}" id="categoryNo">
	    	<input type="hidden" name="locationNo" th:value="${board.locationNo}" id="locationNo">
	    	<input type="hidden" name="title" th:value="${board.title}" id="title">
	    	<input type="hidden" name="content" th:value="${board.content}" id="content">
	    	<input type="hidden" name="maxParticipants" th:value="${board.maxParticipants}" id="maxParticipants">
	    	<input type="hidden" name="deleteImg" th:value="${list}">
	    </form>
	    <form id="delBoardForm" action="/board/boardDelete" method="POST">
	    	<input type="hidden" name="boardNo" th:value="${board.boardNo}" id="boardNo">
	    	<th:block th:each="a : ${list}">
	    		<input type="hidden" name="imgRename" th:value="${a.imgRename}" id="boardNo">
	    	</th:block>
	    </form>
	    <div class="breadcrumb">
	        <span>홈</span> &gt; <span>[[${board.categoryName}]]</span>
	        <span id="deleteBtn" class="delUpdBtn" th:if="${session.loginUser != null && session.loginUser.memberNickname eq board.memberNickName}" onclick="document.getElementById('delBoardForm').submit();">삭제</span>
	        <span id="separate" th:if="${session.loginUser != null && session.loginUser.memberNickname eq board.memberNickName}">&nbsp|&nbsp</span>
	        <span id="updateBtn" class="delUpdBtn" th:if="${session.loginUser != null && session.loginUser.memberNickname eq board.memberNickName}">수정</span>
	    </div>
		
	    <div class="gathering-detail">
	    	<div class="slide-container">
	        	<div class="gathering-images">
	             
	          		<th:block th:each="a : ${list}">
	          			<img alt="board-img" th:src="${a.url}">
	          		</th:block>
	              
	          		<div th:if="${list == null || list.isEmpty()}" class="image-thumbnails">
	          			<img src="/image/HAMO_Thumbnail.png">
	          		</div>
	         	</div>
	        <th:block th:if="${list.size > 1}">
	         	<button type="button" class="prev" onclick="moveSlide(-1)">❮</button>
	         	<button type="button" class="next" onclick="moveSlide(1)">❯</button>
	      	</th:block>
	        </div>
	        <div class="gathering-info">
	            
	            <div class="gathering-meta">
	            	<div class="user-profile">
	 	        		<div class="profile-image" th:if="${board.profileUrl != null}">
	 	        			<img alt="board-img" th:src="${board.profileUrl}">
	 	        		</div>
	 	        		<div class="profile-image" th:if="${board.profileUrl == null}">
	 	        			<img alt="board-img" src="/image/myinfo.png">
	 	        		</div>
	 		    		<div class="user-details">
	 		        		<h3>[[${board.memberNickName}]]</h3>
	 		        		<p>[[${board.locationName}]]</p>
	 		    		</div>
	 	        		<div class="rp-ud">
	 	        			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-4 w-4 shrink-0" width="20px" height="20px"><path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"></path><path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
	 	        			[[${board.views}]]
	 	        		</div>
	         		</div>
	         	</div>
	            <h1 class="gathering-title">[[${board.title}]]</h1>
	            <div class="gathering-description">
	                <p th:utext="${board.content}"></p>
	            </div>
	            
	            <button type="button" th:if="${session.loginUser != null && !(session.loginUser.memberNickname eq board.memberNickName) && participantResult == 1}" id="btn" class="purchase-btn" disabled>참가신청 완료</button>
	            <button type="button" th:if="${session.loginUser != null && !(session.loginUser.memberNickname eq board.memberNickName) && participantResult == 0}" id="participation-btn" class="purchase-btn">참가하기</button>
	    
	        </div>
	    </div>
        
        
        
        <div class="reply">
	        <div class="reply-enroll">
				<section class="<!-- rp-user-info -->" th:if="${session.loginUser != null}">
					<div class="rp-user-profile">
						<div class="profile-image">
							<img alt="board-img" th:src="${session.loginUser.imageUrl != null ? session.loginUser.imageUrl : '/image/myinfo.png'}">
						</div>
						<div class="user-details">
							<h3>[[${session.loginUser.memberNickname}]]</h3>
							<textarea id="replyContent" name="content" class="reply-input" placeholder="댓글을 입력하세요~." style="resize: none"></textarea>
						</div>
					</div>
					<button class="reply-enroll-btn" id="submitReply">등록</button>
				</section>
				<section class="rp-user-info" th:if="${session.loginUser == null}">
					<div class="rp-user-profile">
						<div class="profile-image">
							<img alt="board-img" src="/image/myinfo.png">
						</div>
						<div class="user-details">
							<h3></h3>
							<textarea id="replyContent" name="content" class="reply-input" placeholder="로그인 후 이용 가능합니다." style="resize: none" readonly></textarea>
						</div>
					</div>
					<button class="reply-enroll-btn"  disabled>등록</button>
				</section>
			</div>
				
			<div id="replyList">
				<th:block th:each="reply:${rlist}">
			        <section class="user-info">
			        	<input type="hidden" th:value="${reply.replyNo}" name="replyNo" id="replyNo">
			            <div class="user-profile">
			                <div class="profile-image">
			                	<img alt="board-img" th:src="${reply.imageUrl != null ? reply.imageUrl : '/image/myinfo.png'}">
			                </div>
				            <div class="user-details">
				                <h3>[[${reply.memberNickname}]]</h3>
				                <p>[[${reply.replyContent}]]</p>
				            </div>
			                <div class="rp-ud">
				                <div class="delUpdReply">
				                	<th:block th:if="${session.loginUser != null && session.loginUser.memberNo eq reply.memberNo}">
					                	<span id="deleteReply" onclick="deleteReply(event);">
					                		삭제
					                	</span>
				                	</th:block>
				                </div>
				                <p>[[${reply.updateDate}]]</p>
			                </div>
			            </div>
			        </section>
		        </th:block>
	        </div>
        </div>
        
        
        
        <!-- 모달창 HTML 추가 -->
    </main>
	
	<div th:insert="common/footer.html"></div>
	<script th:inline="javascript">
		document.addEventListener('DOMContentLoaded', () => {
	        const result = /*[[${result}]]*/ 0; // 컨트롤러에서 전달된 result 값
	
	        if (result == 0) {
	            alert('삭제된 게시물입니다.');
	        	location.href = '/'; // 게시판 목록으로 리다이렉트
	        }
	        // result가 1인 경우에는 아무 동작도 하지 않음 (페이지가 정상적으로 로드됨)
	    });
		
		let currentSlide = 0;
	
		// 게시글 이미지 슬라이드
	    function moveSlide(step) {
	      const slides = document.querySelectorAll(".gathering-images img");
	      currentSlide += step;
	      if (currentSlide < 0) {
	        currentSlide = slides.length - 1;
	      } else if (currentSlide >= slides.length) {
	        currentSlide = 0;
	      }
	      const slider = document.querySelector(".gathering-images");
	      slider.style.transform = `translateX(-${currentSlide * 100}%)`;
	    }
	    
		// 게시글 댓글 등록 버튼
	    document.getElementById('submitReply').addEventListener('click', ()=>{
	    	console.log(document.getElementById('replyContent').value);
	    	console.log(document.getElementById('boardNo').value);
	    	console.log(/*[[${session.loginUser != null ? session.loginUser.memberId : ''}]]*/);
	    	$.ajax({
	    		url: '/board/insertReply',
	    		data: {replyContent:document.getElementById('replyContent').value,
	    				boardNo:document.getElementById('boardNo').value,
	    				memberNo:/*[[${session.loginUser != null ? session.loginUser.memberNo : ''}]]*/''
	    		},
	    		datatype: 'json',
	    		success: data=>{
	    			console.log(data);
	    			const replyList = document.getElementById('replyList');
	    			replyList.innerHTML = '';
	    			for(r of data){
	    				const section = document.createElement('section');
		    			const divUser = document.createElement('div');
		    			const divImage = document.createElement('div');
		    			const divUserDetail = document.createElement('div');
		    			const img = document.createElement('img');
		    			const h3 = document.createElement('h3');
		    			const p = document.createElement('p');
		    			const divUpdate = document.createElement('div');
		    			const divReply = document.createElement('div');
		    			const spanUpdateReply = document.createElement('span');
		    			const spanDeleteReply = document.createElement('span');
		    			const updateP = document.createElement('p');
		    			const rNoInput = document.createElement('input');
		    			
		    			const nickName = document.createTextNode(r.memberNickname);
		    			const content = document.createTextNode(r.replyContent);
		    			const update = document.createTextNode(r.updateDate);
		    			const rNo = document.createTextNode(r.replyNo);
		    			
		    			section.setAttribute('class', 'user-info');
		    			divUser.setAttribute('class', 'user-profile');
		    			divImage.setAttribute('class', 'profile-image');
		    			divUserDetail.setAttribute('class', 'user-details');
		    			divUpdate.setAttribute('class', 'rp-ud');
		    			img.setAttribute('src', r.imageUrl)
// 		    			img.setAttribute('src', '/image/img1.jpg'); // 프로필사진 나중에 동적으로 바꿔야함
		    			img.setAttribute('alt', 'board-img');
		    			divReply.setAttribute('class', 'delUpdReply');
// 		    			spanUpdateReply.setAttribute('id', 'updateReply');
// 		    			spanUpdateReply.setAttribute('onclick', 'updateReply(event)');
// 		    			spanUpdateReply.onclick = updateReply;
// 		    			spanUpdateReply.innerText = '수정';
		    			spanDeleteReply.setAttribute('id', 'deleteReply');
// 		    			spanDeleteReply.setAttribute('onclick', 'deleteReply(event)');
		    			spanDeleteReply.onclick = deleteReply;
		    			spanDeleteReply.innerHTML = '삭제';
		    			rNoInput.setAttribute('type', 'hidden');
		    			rNoInput.setAttribute('value', r.replyNo);
		    			rNoInput.setAttribute('name', 'replyNo');
		    			rNoInput.setAttribute('id', 'replyNo');
		    			
// 		    			divReply.appendChild(spanUpdateReply);
// 		    			divReply.innerHTML = '&nbsp&nbsp&nbsp&nbsp';
		    			divReply.appendChild(spanDeleteReply);
		    			
		    			h3.appendChild(nickName);
		    			p.appendChild(content);
		    			if(r.memberNo == /*[[${session.loginUser != null ? session.loginUser.memberNo : ''}]]*/''){
		    				divUpdate.appendChild(divReply);
		    			}
		    			updateP.appendChild(update);
		    			divUpdate.appendChild(updateP);
		    			
		    			divUserDetail.append(h3);
		    			divUserDetail.append(p);
		    			divImage.append(img);
		    			divUser.append(divImage);
		    			divUser.append(divUserDetail);
		    			divUser.append(divUpdate);
		    			section.append(rNoInput);
		    			section.append(divUser);
		    			replyList.append(section);
	    			}
	    			document.getElementById('replyContent').value = '';
	    		},
	    		error: data=>{
	    			console.log(data);
	    		}
	    		
	    	});
	    })
	    

    	document.addEventListener('DOMContentLoaded', () => { 
    		const participationBtn = document.getElementById('participation-btn');
    		if (participationBtn && !participationBtn.disabled) {
    			participationBtn.addEventListener('click', () => {
			    	$.ajax({
			    		type: 'post',
			    		url: '/board/participant',
			    		data: {memberNo:/*[[${session.loginUser != null ? session.loginUser.memberNo : ''}]]*/0,
			    				boardNo:document.getElementById('boardNo').value},
			    		success: data=>{
			    			if(data > 0){
			    				alert('참가신청 완료됐습니다.\n 신청 내역은 내정보 MyActivity에서 보실 수 있습니다.')
				    			document.getElementById('participation-btn').innerText = '참가신청 완료';
				    			document.getElementById('participation-btn').disabled = true;	    				
			    			}else{
			    				alert('참가신청 실패, 다시 시도해주세요.')
			    			}
			    			
			    		},
			    		error: data=>{
			    			console.log(data);
			    		}
			    	});
    			});
    		}
	    });

	    document.getElementById('updateBtn').addEventListener('click', ()=>{
	    	document.getElementById("detailForm").submit();
	    })
	    

		const updateReply=(e)=>{
			console.log(e.target);
			const replyContentP = e.target.parentElement.parentElement.previousSibling.children[1];
			
		}
		
		const deleteReply=(e)=>{
			const replySection = e.target.parentElement.parentElement.parentElement.parentElement;
			const replyNo = replySection.children[0].value;
			console.log(replyNo);
			if(confirm('정말 삭제하시겠습니까?')){
				$.ajax({
					url: '/board/rdelete',
					data: {rId:replyNo,
							bId:document.getElementById('boardNo').value},
					success: data=>{
						if(data > 0){
							console.log('댓글삭제 성공');
							replySection.remove();	
						}else{
							console.log('데이터는 받아왔으나 삭제 실패.')
						}
											
					},
					error: data=>{
						console.log(data);
					}
				})	
			}
		}
	

	</script>
</body>


</html>
