<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게임 공지사항</title>
    <link rel="stylesheet" href="/css/board/noticeView.css">
</head>
<body>
	<div th:insert="common/top.html"></div>
    <div class="container">
        <div class="notice-header">
            <h1>공지사항</h1>
        </div>

        <!-- 글번호, 제목, 작성일 헤더 -->
        <div class="notice-header-row">
            <div class="notice-no-header">글번호</div>
            <div class="notice-title-header">제목</div>
            <div class="notice-date-header">작성일</div>
        </div>

        <div class="notice-list" th:each="a : ${aList}">
            <input type="hidden" name="id" th:value="${a.boardNo}">
            <input type="hidden" name="page" th:value="${pi.currentPage}">
            <div class="notice-item">
                <div class="notice-no">[[${a.boardNo}]]</div>
                <div class="notice-content">[[${a.title}]]</div>
                <div class="notice-date">[[${a.createDate}]]</div>
            </div>
        </div>

        <nav aria-label="Standard pagination example">
            <ul class="pagination">
			<!-- 이전 페이지 -->
				<li class="page-item" th:classappend="${pi.currentPage == 1} ? 'disabled'">
	                  <a class="page-link" th:href="${pi.currentPage > 1} ? @{${loc}(page=${pi.currentPage-1})} : ''" aria-label="Previous">
	                     <span aria-hidden="true">&laquo;</span>
	                  </a>
	               </li>
	               
	               <!-- 페이지 번호 -->
	               <li class="page-item" th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}" 
	                                th:classappend="${p == pi.currentPage} ? 'active'">
	                  <a class="page-link" th:href="@{${loc}(page=${p})}">[[${p}]]</a>
	               </li>
	
	               <!-- 다음 버튼 -->
	               <li class="page-item" th:classappend="${pi.currentPage == pi.maxPage} ? 'disabled'">
	                  <a class="page-link" th:href="${pi.currentPage < pi.maxPage} ? @{${loc}(page=${pi.currentPage+1})} : ''" aria-label="Next">
	                      <span aria-hidden="true">&raquo;</span></a>
	               </li>
			</ul>
        </nav>
    </div>
    <script>
        const noticeLists = document.getElementsByClassName('notice-list');
        for (let noticeList of noticeLists) {
            noticeList.addEventListener('click', function() {
                // 클릭 이벤트 처리 로직
                let boardId = this.children[2].children[0].innerText;
                location.href = "/board/" + boardId + "/" + /*<!CDATA[*//*[[${pi.currentPage}]]*/1/*]]*/;
            });
        }
    </script>
</body>
</html>