<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 상세보기</title>
    <link rel="stylesheet" href="/css/board/noticeDetail.css">
    <link rel="stylesheet" href="/css/board/summernote-lite.css">
</head>
<body>
<div th:insert="common/top.html"></div>
    <div class="container">
        <div class="notice-header">
            <span class="notice-badge">공지</span>
            <h1 class="notice-title">[[${a.title}]]</h1>

            <!-- form으로 버튼들 감싸기 -->
            <form method="POST" id="writer-btn" th:if="${session.loginUser != null && session.loginUser.memberNo == a.writer}">
                <button type="button" id="edit-btn">수정</button>
                <button type="button" id="delete-btn">삭제</button>

                <!-- hidden input으로 페이지와 boardId 값 추가 -->
                <input type="hidden" name="page" th:value="${page}">
                <input type="hidden" name="id" th:value="${a.boardNo}">
            </form>
            
            <span class="notice-date">[[${a.createDate}]]</span>
        </div>

        <div class="character-banner">
            <h2>안내사항</h2>
        </div>

        <div class="notice-content" th:utext="${a.content}">
            <!-- 내용 표시 -->
        </div>
    </div>

  	<div th:insert="common/footer.html"></div>
    
    <script>
    	const form = document.getElementById('writer-btn');
    	document.getElementById('edit-btn').addEventListener('click', () => {
    		form.action = '/admin/edit';
    		form.submit();
    		
    	});
    	
    	document.getElementById('delete-btn').addEventListener('click', () => {
    		form.action = '/admin/delete';
    		form.submit();
    	});
    </script>
</body>
</html>
