<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/login/signUp.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
	<div th:insert="common/top.html"></div>
	<main>
	    <div class="container">
	        <h1 id="h1">회원가입</h1>
	        <form action="/member/signUp" method="POST">
	            <div class="form-group with-button">
	                <input type="text" name="memberId" id="userid" placeholder="아이디" required>
	                <button type="button" id="idCheck" class="button secondary">중복확인</button>
	            </div>
	
	            <div class="form-group">
	                <input type="password" name="memberPwd" id="password" placeholder="비밀번호" required>
	            </div>
	
	            <div class="form-group">
	                <input type="password" id="password-confirm" placeholder="비밀번호 확인" required>
	            </div>
	
	            <div class="form-group">
	                <input type="text" name="memberName" id="name" placeholder="이름" required>
	            </div>
	            
	            <div class="form-group">
	                <input type="text" name="memberNickname" id="nickname" placeholder="닉네임" required>
	            </div>
	
	            <div class="form-group">
	                <input type="date" name="memberBirth" id="birthdate" placeholder="생년월일" required>
	            </div>
	
	            <div class="form-group">
	                <div class="gender-group">
	                    <label>
	                        <input type="radio" name="memberGender" value="M" required>
	                        남성
	                    </label>
	                    <label>
	                        <input type="radio" name="memberGender" value="F">
	                        여성
	                    </label>
	                </div>
	            </div>
	
	            <div class="form-group">
	                <input type="email" name="memberEmail" id="email" placeholder="이메일" required>
	            </div>
	
	            <div class="form-group with-button">
	                <input type="tel" name="memberPhone" id="phone" placeholder="휴대폰번호" required>
	                <button type="button" id="smsButton" class="button">인증번호 전송</button>
	                
	            </div>
	
	            <div class="form-group with-button">
	                <input type="text" id="verification" placeholder="인증번호 입력" required>
	                <button type="button" id="smsButton2" class="button" disabled>확인</button>
	            </div>
	            
	            <p id="time"></p>
	
	            <div class="checkbox-group">
	                <label>
	                    <input type="checkbox" id="agree" required>
	                    개인정보 수집 및 이용에 동의합니다.
	                </label>
	            </div>
	
	            <button type="button" id="submitBtn" class="button submit-button">가입하기</button>
	        </form>
	    </div>
	</main>
	
	<script>
// 		document.getElementById("submitBtn").addEventListener('click', (e)=>{
// 			if(e.target.type == "button"){
// 				alert('모두 입력해주세요.')
// 			}else{
// 				e.target.submit();
// 			}
// 		})
		
		document.getElementById('smsButton').addEventListener('click', ()=>{
			const phone = document.getElementById('phone').value;
			console.log(phone);
			if(phone != null && phone != ''){
				$.ajax({
					type: "POST",
					url: "/member/sendSMS",
					data: {phone:phone},
					dataType: 'json',
					success: data=>{
						console.log(data);
						if(data != null && data != ''){
							document.getElementById('smsButton2').disabled = false;
// 							document.getElementById('reSmsButton').disabled = false;
							document.getElementById('verification').innerText = '재전송';
							let startMin = 5;
							let startSec = 0;
							const timer = setInterval(()=>{
								
								document.getElementById('time').innerText = startMin + ":" + startSec;
								if(startSec == 0){
									if(startMin == 0){
										crearInterval(timer);	
										document.getElementById('smsButton2').disabled = true;
									}
									startMin = startMin - 1;
									startSec = 60;
								}
								
								startSec = startSec - 1;
								
								if(startMin == 0 && startSec == 0){
									
								}
							}, 1000)	
							
							document.getElementById('time').innerText = 
							document.getElementById('smsButton2').addEventListener('click', ()=>{
								const certificationNum = document.getElementById('verification').value;
								if(certificationNum == data){
									alert('휴대폰 인증에 성공했습니다.');
									document.getElementById('submitBtn').type = 'submit'
								}else{
									alert('인증번호가 다릅니다.');
								}
							})
						}
					}
				})
			}
		})
		
		document.getElementById('idCheck').addEventListener('click', ()=>{
			const userId = document.getElementById('userid');
			if(userId.value.trim() != null && userId.value.trim() != ''){
				console.log('들어옴');
				$.ajax({
					type: "POST",
					url: "/member/idCheck",
					data: {userId:userId.value},
					success: data=>{
						if(data === 0){
							alert('사용 가능한 아이디입니다.');
						}else{
							alert('사용할 수 없는 아이디입니다.');
						}
					}
				})
			}
		})

	</script>
</body>
</html>