@charset "UTF-8";

/* /* 숨김 클래스 */ */
/* .hidden { */
/*     display: none; */
/* } */

/* 전체 레이아웃 설정 */
body {
    margin: 0;
    padding: 0;
}

/* 사이드바를 제외한 메인 콘텐츠 영역 */
.header {
    margin-left: 250px; /* 사이드바 너비만큼 여백 */
    padding: 20px;
    width: calc(100% - 250px); /* 나머지 공간을 차지 */
    overflow: auto; /* 내용이 넘칠 경우 스크롤 */
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px;
}



/* 공지 목록 스타일 */
.notice-list {
    margin-top: 20px;
    
}

.notice-item {
    position: relative; /* 버튼을 절대 위치로 조정하기 위해 부모에 상대 위치 설정 */
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.notice-item h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.notice-item p {
    font-size: 14px;
    color: #555;
}

.notice-item{
	cursor: pointer;
}

.notice-item:hover {
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* 공지 작성 버튼 */
.submit-btn {
    position: fixed;
    top: 58px; /* 화면 하단에서 20px */
    right: 20px;  /* 화면 오른쪽에서 20px */
    padding: 10px 20px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #34495e;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

/* 페이징 컨테이너 */
.pagination {
    display: flex;
    position: fixed;
    bottom: 2rem; /* 화면 하단에서 20px */
    left:55%;   /* 화면 중앙 기준 */
    transform: translateX(-50%); /* 정확히 중앙에 맞춤 */
    list-style: none;
    padding: 0 0;
    
}

.pagination li {
    margin: 0 10px;
}

.pagination a {
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
}

.pagination a:hover {	
    background-color: #2c3e50;
    color: white;
    border-color: #2c3e50;
}




/* 반응형 디자인 */
@media (max-width: 1024px) {
    .notice-item {
        width: 100%;
    }
    
}

@media (max-width: 768px) {
    .notice-item {
        width: 100%;
    }
}