<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 정보 수정</title>
    <link rel="stylesheet" href="/css/user_inform/user.css">
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
    <header id="top">
        <div class="logo">
        <a href="/">HAMO</a>
<!--             <a href="${pageContext.servletContext.contextPath}">HAMO</a> -->
        </div>
    </header>
    <div class="main-container">

    <div th:insert ="user-inform/sidebar.html"></div>

<div th:insert ="user-inform/sidebar.html"></div>

<!--         <jsp:include page="sideBar.jsp" /> -->
        <div class="content-wrapper">
            <div class="container">
                <div class="content">
                    <form id="editForm" action = "/member/editMyPage" method="post" class="edit-form" enctype="multipart/form-data">
                        <h1>내 정보 수정</h1>
                        
                        <div class="info-section">
                            <h2 class="section-title">기본 정보</h2>
                            <div class="info-grid">
                            
                        
                           <div class="profile-picture">
                                    <h4>프로필 사진 변경</h4>
                                    <img id="profilePreview" th:src="${profileImage != null ? profileImage.imgPath : '/image/myinfo.png'}" alt="Profile Picture">
                                    <input type="file" id="profilePicture" name="file" accept="image/*">
                                </div>
                        	
                            
                            
                            
                                <div class="info-item">
                                    <label for="name">이름</label>
                                    <input type="text" id="memberName" name="memberName" th:value="${loginUser.memberName}" required>
                                </div>
                                <div class="info-item">
                                    <label for="birthdate">생년월일</label>
                                    <input type="text" id="memberBirth" name="memberBirth" th:value="${loginUser.memberBirth}" required>
                                </div>
                                <div class="info-item">
                                    <label for="id">아이디</label>
                                    <input type="text" id="memberId" name="memberId" th:value="${loginUser.memberId}" readonly>
                                </div>
			
								<div class="info-item">
   							 		<label for="gender">성별</label>
						   		<div class="radio-group">
							        <input type="radio" id="male" name="memberGender" value= "M" th:checked='${loginUser.memberGender.trim() == "M"}'>
							        <label for="male">남자</label>
							        <input type="radio" id="female" name="memberGender" value="F" th:checked='${loginUser.memberGender.trim() == "F"}'>
							        <label for="female">여자</label>
							    </div>
							     
						  		</div>
						  		<div class="info-item">
                                    <label for="nickname">닉네임</label>
                                    <input type="text" id="nickname" name="memberNickname" th:value="${loginUser.memberNickname}" required>
                         			<label id = "nickNameCheck"></label>
                                </div>
                            </div>
                        </div>

                        <div class="info-section">
                            <h2 class="section-title">연락처 정보</h2>
                            <div class="info-grid">
                               
                                <div class="info-item">
                                    <label for="email">이메일</label>
                                    <input type="email" id="email" name="memberEmail" th:value="${loginUser.memberEmail}" required>
                                </div>
                                <div class="info-item">
                                    <label for="phone">휴대폰 번호</label>
                                    <input type="tel" id="phone" name="memberPhone" th:value="${loginUser.memberPhone}" required>
                                </div>
                            </div>
                        </div>

                        <div class="info-section">
                            <h2 class="section-title">보안 정보</h2>
                            <div class="info-grid">
                            
                                <div class="info-item">
                                    <label for="password">새 비밀번호</label>
                                    <input type="password" id="newPassword" name="newPassword" placeholder="새 비밀번호 입력" required>
                                </div>
                                <div class="info-item">
                                    <label for="password-confirm">새 비밀번호 확인</label>
                                    <input type="password" id="password-confirm" name="password-confirm" placeholder="새 비밀번호 재입력"  required>
                                </div>
                            </div>
                        </div>
                        
                        <button type="submit">수정 완료</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script th:lnline="javascript">
        	 document.getElementById('editForm').addEventListener('submit', e => {
            	const newPassword = document.getElementById('newPassword').value;
            	const passwordConfirm = document.getElementById('password-confirm').value;
                
                if (newPassword != passwordConfirm) {
                    e.preventDefault();
                    alert('새 비밀번호와 확인 비밀번호가 일치하지 않습니다.');
                }
            });
			
        	 document.getElementById('nickname').addEventListener('change',function() {
        		const nicknameResult = document.getElementById('nickNameCheck');
        		if(this.value.trim() == '') {
        			nicknameResult.innerText = '닉네임을 입력해 주세요.';
        			nicknameResult.style.color = 'black';
        		}else {
        			$.ajax({
        				url : '/member/checknickName',
        				data : {nickname:this.value.trim()},
        				success : data => {
        					if(data == '0') {
        						nicknameResult.innerText = '사용가능한 닉네임 입니다.';
        						nicknameResult.style.color = 'blue';
        					}else{
        						nicknameResult.innerText = '사용할 수 없는 닉네임 입니다.';
        						nicknameResult.style.color = 'red';
        					}
        				}, 
        				error : data => console.log(data)
        			});
        		}
        	 });
        	 
        	 document.getElementById('profilePreview').addEventListener('click', ()=>{
        		 document.getElementById('profilePicture').click();
        	 });
        
        	 document.getElementById('profilePicture').addEventListener('change', function(e) {
        		 const file = e.target.files[0];
        		 const reader = new FileReader();
                 reader.onload = function(e) {
                     document.getElementById('profilePreview').src = e.target.result;
                 }
                 reader.readAsDataURL(file);
             });
   
    </script>
<!--     <jsp:include page="../common/footer.jsp"/> -->
<div th:insert = "common/footer.html"></div>
</body>
</html>